body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  margin: 0;
  height: 100vh;
}

/*Mes Projets*/

.titreProjets {
  font-family: neon;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
}

.neondeux {
  --lights: rgb(91, 235, 115);
  text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
    0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
  animation: flicker 7s infinite;
  filter: brightness(1);
}

@keyframes flicker {
  9% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  10% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  11% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  12% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  13% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  66% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
  67% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  75% {
    text-shadow: none;
    filter: brightness(0.4);
  }
  76% {
    text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
    filter: brightness(1);
  }
}

.projets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.tickethack {
  width: 500px;
  height: 400px;
}

.react {
  color: #03d1f6;
  font-size: 30px;
}

.java {
  color: yellow;
  font-size: 30px;
}

p {
  color: white;
}

.retour {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #48ff00,
    #00ffd5,
    #fffb00,
    #48ff00,
    #00ffd5,
    #fffb00,
    #00ffd5,
    #fffb00,
    #48ff00
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
